@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  background-color: #e5e5e5;
}
.container {
  border: 5px solid #383838;
  background-color: #383838;
  height: 1000px;
  width: 550px;
  position: absolute;
  grid-template-columns: repeat(10, 100px);
  grid-template-rows: repeat(4, 125px);
  padding: 65px;
  border-radius: 24px;
  margin: 0 auto;
  margin-left: 450px;
  margin-top: 50px;
}
.sideBar {
  display: grid;
  position: absolute;
  height: 300px;
  width: 360px;
  margin-top: 50px;
  margin-left: 50px;
  grid-template-rows: repeat(50, 15px);
  grid-template-columns: repeat(24, 15px);
}
.guessArea {
  display: grid;
  width: 80%;
  height: 100%;
  float: left;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(10, 100px);
}
.hintArea {
  display: grid;
  width: 20%;
  height: 100%;
  float: right;
  grid-template-columns: repeat(2, 50px);
  grid-template-rows: repeat(20, 50px);
}
.colourPicker {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  grid-template-rows: repeat(2, 55px);
  width: 210px;
  height: 110px;
  margin: 0 auto;
  margin-top: 10px;
  grid-area: 8/11/15/25;
  border-radius: 24px;
}
.yourSelectedColour {
  display: grid;
  grid-template-columns: repeat(1, 50px);
  grid-template-rows: repeat(1, 50px);
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 10px;
  grid-area: 10/1/15/10;
  z-index: 1;
  background-color: #555555;
}
.actualCode {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: repeat(1, 100px);
  width: 360px;
  height: 100px;
  margin: 0 auto;
  background-color: #383838;
  border-radius: 24px;
  grid-area: 1/1/5/25;
  /* centering */
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}
.randomColour {
  border-radius: 50%;
  height: 65px;
  width: 65px;
  z-index: 1;
}
.submitBtn {
  width: 100%;
  height: 75%;
  margin: 0 auto;
  margin-top: 12px;
  text-align: center;
  align-items: justify;
  grid-area: 16/1/21/25;
  border-radius: 24px;
  background-color: #383838;
  padding-top: 15px;
  color: white;
  font-size: 2em;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.submitBtn:hover {
  background-color: rgba(56, 56, 56, 0.8);
}
.guessCell {
  border: 15px solid #383838;
  border-radius: 50%;
  background-color: #555555;
}
.hintCell {
  border: 8px solid #383838;
  border-radius: 50%;
  background-color: #555555;
}

#blue {
  background-color: #5b7fbd;
}
#green {
  background-color: #3b6348;
}
.green {
  border-radius: 0 24px 0 0;
}
#red {
  background-color: #ed6954;
}
.red {
  border-radius: 24px 0 0 0;
}
#yellow {
  background-color: #e9fc88;
}
.yellow {
  border-radius: 0 0 0 24px;
}
#orange {
  background-color: #feb58c;
}
#purple {
  background-color: #d3bdec;
}
.purple {
  border-radius: 0 0 24px 0;
}
.overlayPicker {
  display: grid;
  grid-template-columns: repeat(1, 130px);
  grid-template-rows: repeat(1, 110px);
  width: 130px;
  height: 110px;
  margin: 0 auto;
  border-radius: 24px;
  margin-top: 10px;
  grid-area: 8/1/15/10;
  background-color: #383838;
}

.message {
  grid-area: 23/13/26/25;
  text-align: center;
  font-size: 1.9em;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.restartBtn {
  grid-area: 23/1/26/10;
  width: 100%;
  height: 75%;
  border-radius: 24px;
  background-color: #ed6954;
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
}

.winningMessage {
  grid-area: 30/1/40/25;
  text-align: center;
  font-size: 3em;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
